* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: myFont-regular;
    src: url(Montserrat-Regular.otf);
}

@font-face {
    font-family: myFont-semibold;
    src: url(Montserrat-SemiBoldItalic.otf);
}

body {
    display: flex;
    flex-direction: column;
    font-family: myFont-regular;
    background-image: url(/src/BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; 
}

h1 {
    color: rgb(169, 183, 114);
    font-family: myFont-semibold; 
    font-size: 70px;
    text-shadow: -1px 1px 1px rgba(0,0,0,0.63);
}

p {
    color: white;
    font-family: myFont-regular;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
}

#header {
    height: 7.5vh;
    width: 100vw;
    border-bottom: 1px solid rgba(255, 217, 0, 0.704);
}

#page-body {
    flex: 1; 
}

#footer {
    height: 5vh;
    width: 100vw;
    border-top: 1px solid rgba(255, 217, 0, 0.704);
}